:root {
	--lt-blue: #718DA5;
	--dk-blue: #042027;
	--dk-brown: #553100;
	--container-padding: 2rem;
}

article {
	background-color: var(--lt-blue);
}

section {
	background-color: var(--dk-blue);
	color: var(--dk-brown);
}

h2 {
	padding: var(--container-padding);
}